server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false

plugins:
  youtube:
    enabled: true
    clients:
      - WEB
      - ANDROID_VR
      - WEB_EMBEDDED_PLAYER
      - MUSIC
      - TVHTML5EMBEDDED
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true

logging:
  level:
    root: INFO
    lavalink: INFO
